<plugin name='mail' version='0.5'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme@g2one.com</authorEmail>
  <title>Provides Mail support to a running Grails application</title>
  <documentation>http://grails.org/Mail+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.mail.MailService</resource>
    <resource>org.grails.mail.PlainTextMailTagLib</resource>
  </resources>
  <dependencies />
</plugin>